<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" id="sectionsNav">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="presentation.html">Casando sem risco<div class="ripple-container"></div></a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					
                        {% if user.is_authenticated and not backends.associated %}

                        {% elif user.is_authenticated and backends.associated %}
                        <li>
                            <a>
                                Bem vindo <b>{{ user }}</b>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" target="_blank" class="btn btn-round">
                                Sair
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'social:begin' 'facebook' %}" target="_blank" class="btn btn-round btn-facebook">
                                Entrar com o facebook
                            </a>
                        </li>
                        {% endif %}
					</li>
        		</ul>
        	</div>
    	</div>
    </nav>