{% if rating == 0 %}
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
{% elif rating >= 1 and rating < 2 %}
<i class="material-icons star text-gold">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
{% elif rating >= 2 and rating < 3 %}
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
{% elif rating >= 3 and rating < 4 %}
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star-border text-gray">star</i>
<i class="material-icons star-border text-gray">star</i>
{% elif rating >= 4 and rating < 5 %}
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star-border text-gray">star</i>
{% elif rating == 5 %}
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
<i class="material-icons star text-gold">star</i>
{% endif %}